﻿
@{
    Layout = "~/Views/shared/_MainPage.cshtml";
}

<div class="row">

    <div class="col-md-2">&nbsp;</div>

    <div class="col-md-4">

        <ul class="list-group">
            <li class="list-group-item active">
                Clientes Recentes
                <a href="Clientes">
                    <img src="~/Content/images/list.png" class="list-icon float-right" />
                </a>
            </li>

            @foreach (var client in ViewBag.Clients)
            {
                <li class="list-group-item">
                    @client.Name
                    <a href="Cupons?Cliente=@client.Id">
                        <img src="~/Content/images/coupon.png" class="list-icon float-right" />
                    </a>
                </li>
            }

        </ul>

    </div>

    <div class="col-md-4">

        <ul class="list-group">
            <li class="list-group-item active">
                Prêmios Recém Cadastrados
                <a href="Premios">
                    <img src="~/Content/images/list.png" class="list-icon float-right" />
                </a>
            </li>

            @foreach (var client in ViewBag.Prizes)
            {
                <li class="list-group-item">
                    @client.Description
                </li>
            }

        </ul>

    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">

        <ul class="list-group">
            <li class="list-group-item active">
                Relatórios
            </li>
            <a href="CuponsPorCliente">
                <li class="list-group-item">
                    Cupons por cliente
                </li>
            </a>
            <a href="ClientesCadastrados">
                <li class="list-group-item">
                    Clientes cadastrados
                </li>
            </a>
            <a href="PremiosXClientes">
                <li class="list-group-item">
                    Clientes x Prêmios
                </li>
            </a>
        </ul>

    </div>
</div>
