﻿
@{
    Layout = "~/Views/shared/_MainPage.cshtml";
}
<div class="row">


    <div class="col-md-1">&nbsp;</div>

    <div class="col-md-5 overflow-x-auto">

        @if (ViewBag.Message == "PrizeRemoved")
        {
            <div class="alert alert-primary" role="alert">
                Prêmio Removido!
            </div>
        }

        <ul class="list-group">
            <li class="list-group-item active">
                Pêmios (@ViewBag.Prizes.Count)
            </li>

            @foreach (var prize in ViewBag.Prizes)
            {
                <li class="list-group-item">
                    @prize.Description

                    <a href="Premios/Remover?PrizeId=@prize.Id">
                        <img src="~/Content/images/remove.png" class="list-icon float-right" title="Remover" />
                    </a>
                </li>
            }

        </ul>

    </div>


    <div class="col-md-5 panel">


        @if (ViewBag.Message == "Success")
        {
            <div class="alert alert-primary" role="alert">
                Prêmio Cadastrado!
            </div>
        }
        else if (ViewBag.Message == "Error")
        {
            <div class="alert alert-danger" role="alert">
                Erro ao tentar cadastrar o prêmio!
            </div>
        }

        <span class="text-white">Novo Prêmio</span>

        <form action="Premios/Novo" method="post">
            <div class="row col-md-12">

                <div class="row col-md-10">
                    <input type="text" class="form-control" name="Description" placeholder="Descrição" tabindex="1" required autofocus />
                </div>
                <div class="row">
                    <button class="btn btn-dark float-right" tabindex="3">Salvar</button>
                </div>

            </div>
        </form>

    </div>

</div>