﻿
@{
    Layout = "~/Views/shared/_MainPage.cshtml";
}

<div class="row">

    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">

        <br />
        <h4 class="text-white">
            Clientes x Prêmios
            &nbsp;
            <button class="btn btn-link text-white" onclick="window.history.back(1)"> << Voltar</button>
        </h4>
        <br />

        <table class="table text-white">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Prêmio</th>
                    <th>Data da premiação</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.data)
                {
                    <tr>
                        <td>@item.Client.Name</td>
                        <td>@item.Prize.Description</td>
                        <td>@item.CreationDate</td>
                    </tr>
                }

            </tbody>

        </table>


    </div>

</div>
