﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Restaurante Berrini</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />

</head>
<body>

    <header>
        <img src="~/Content/images/logo.png" alt="logotipo" id="logotipo" />

        <a href="Home">
            <img src="~/Content/images/home.png" class="ico" />
        </a>

    </header>

        @RenderBody()

    
</body>
</html>
