﻿.panel {
    padding: 1%;
    background-color: #7067e6;
    border-radius: 5px;
    display: table;
}

.list-icon {
    height: 40%;
    max-height: 25px;
    margin: 0 1%;
}

.overflow-x-auto {
    overflow-x: auto;
    overflow-y: auto;
}

.coupon {
    width: 200px;
    border: dashed 2px #bbb8e6;
    background-color: #35436c;
    display: inline-table;
    color: #FFF;
    padding: 20px 30px;
    margin: 20px 10px 10px 10px;
    cursor: pointer;
    font-size: 0.8em;
}

    .coupon.awared {
        border: none;
        background-color: #7067e6;
        -webkit-box-shadow: 6px 4px 5px 0px rgba(148,161,200,1);
        -moz-box-shadow: 6px 4px 5px 0px rgba(148,161,200,1);
        box-shadow: 6px 4px 5px 0px rgba(148,161,200,1);
    }

    .coupon.awared img{
        opacity: 10;
    }

    .coupon img {
        width: 100%;
        margin: -40px 0 0 auto;
        opacity: 0.6;
    }
