﻿@import url("colors.css");
@import url("components.css");
@import url("bootstrap-adjusts.css");

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #35436c;
    font-family: 'Comic Sans MS';
}

header {
    background-color: #2c355b;
    width: 100%;
    height: 10%;
    margin: 0 !important;
}

    header .ico {
        height: 100%;
        float: right;
        padding: 22px;
        transition: background 0.5s;
    }

        header .ico:hover {
            background-color: #4e5a8d;
        }

#logotipo {
    height: 100%;
}
