﻿
@{
    Layout = "~/Views/shared/_MainPage.cshtml";
}

<div class="row">


    <div class="col-md-1">&nbsp;</div>

    <div class="col-md-5 overflow-x-auto">

        @if (ViewBag.Message == "ClientRemoved")
        {
            <div class="alert alert-primary" role="alert">
                Cliente Removido!
            </div>
        }

        <ul class="list-group">
            <li class="list-group-item active">
                Clientes (@ViewBag.Clients.Count)
            </li>

            @foreach (var client in ViewBag.Clients)
            {
                <li class="list-group-item">
                    @client.Name

                    <a href="Clientes/Remover?Id=@client.Id">
                        <img src="~/Content/images/remove.png" class="list-icon float-right" title="Remover" />
                    </a>
                    <a href="Cupons?Cliente=@client.Id">
                        <img src="~/Content/images/coupon.png" class="list-icon float-right" title="Cupons" />
                    </a>
                </li>
            }

        </ul>

    </div>


    <div class="col-md-5 panel">


        @if (ViewBag.Message == "Success")
        {
            <div class="alert alert-primary" role="alert">
                Cliente Cadastrado!
            </div>
        }
        else if (ViewBag.Message == "Error")
        {
            <div class="alert alert-danger" role="alert">
                Erro ao tentar cadastrar o cliente!
            </div>
        }

        <span class="text-white">Novo Cliente</span>

        <form action="Clientes/Novo" method="post">
            <div class="row col-md-10">

                <div class="row">
                    <input type="text" class="form-control" name="Name" placeholder="Nome" tabindex="1" required autofocus />
                    <input type="text" class="form-control" name="CPF" placeholder="CPF" tabindex="2" required />
                </div>
                <div class="row">
                    <button class="btn btn-dark float-right" tabindex="3">Salvar</button>
                </div>

            </div>
        </form>

    </div>

</div>