﻿
@{
    Layout = "~/Views/shared/_MainPage.cshtml";
}

<div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">

        @if (ViewBag.Coupon.IsAwarded)
        {
            <h3 class="text-white">Parabens!</h3>
            <h4 class="text-white">Você ganhou: @ViewBag.Coupon.Prize.Description</h4>
        }
        else
        {
            <h3 class="text-white">Poxa que pena :(</h3>
            <h4 class="text-white">Não foi dessa vez</h4>
        }

        <br />
        <button class="btn btn-link text-white" onclick="window.history.back(1);">Voltar</button>


    </div>

</div>