﻿
@{
    Layout = "~/Views/shared/_MainPage.cshtml";
}

<div class="row">

    <div class="col-md-1">&nbsp;</div>

    <div class="col-md-5 overflow-x-auto text-center">

        @for (int i = 0; i < 5; i++)
        {
            if (i < ViewBag.Coupons.Length)
            {
                <a href="Clientes/Premio?Cupom= @ViewBag.Coupons[i].Id">
                    <div class="coupon@(ViewBag.Coupons[i].IsAwarded? " awared" : "")">

                        <img src="~/Content/images/logo.png" />
                        <br />
                        <br />
                        @ViewBag.Coupons[i].CreationDate
                    </div>
                </a>
            }
            else
            {
                <div class="coupon">
                    <br />
                    <br />
                    --------------
                </div>
            }
        }


    </div>

    <div class="col-md-5 panel">

        @if (ViewBag.Message == "Success")
        {
            <div class="alert alert-primary" role="alert">
                Cupom Cadastrado!
            </div>
        }
        else if (ViewBag.Message == "Error")
        {
            <div class="alert alert-danger" role="alert">
                O cliente pode ter no máximo 5 cupons
            </div>
        }
        <span class="text-white">Registrar Cupom</span>
        <form action="Cupons/Novo" method="post">
            <input type="hidden" name="clientId" value="@ViewBag.ClientId" />
            <div class="row col-md-10">
                <div class="row">
                    <button class="btn btn-dark" tabindex="1">Gerar</button>
                </div>
            </div>
        </form>
    </div>
</div>